Source: knowledgejunkie-packaging-deps
Section: metapackages
Priority: optional
Standards-Version: 4.3.0
Maintainer: Nick Morrott <knowledgejunkie@gmail.com>
Vcs-Browser: https://github.com/knowledgejunkie/packaging-deps
Vcs-Git: https://github.com/knowledgejunkie/packaging-deps.git
Build-Depends: debhelper (>= 11)

Package: knowledgejunkie-packaging-deps
Architecture: all
Depends:
 build-essential,
 cme,
 cowbuilder,
 debian-faq,
 debian-handbook,
 debian-history,
 debian-kernel-handbook,
 debian-policy,
 debian-reference-en,
 debmake,
 developers-reference,
 dh-python,
 diffoscope,
 doc-base,
 dput,
 duck,
 equivs,
 faketime,
 groff,
 help2man,
 inoticoming,
 maint-guide,
 mercurial,
 moreutils,
 myrepos,
 packaging-dev,
 pandoc,
 pkg-components,
 pkg-perl-autopkgtest,
 pkg-perl-tools,
 pyflakes,
 pyflakes3,
 python3-all-dev,
 python3-distutils,
 python3-nose,
 python3-pip,
 python3-pytest,
 python3-setuptools,
 python3-sphinx,
 python3-venv,
 python3-virtualenv,
 python-all-dev,
 python-nose,
 python-pip,
 python-pytest,
 python-setuptools,
 python-sphinx,
 python-virtualenv,
 reprepro,
 reprotest,
 sbuild,
 tree,
 wkhtmltopdf,
 ${misc:Depends},
Description: metapackage to install Debian packaging tools/docs
 A metapackage to install tools and documentation used for packaging software
 on Debian. Installs language-specific packages (where available) to aid
 building packages for the following Debian teams:
 .
  - Debian Go
  - Debian Perl
  - Debian Python
