Source: knowledgejunkie-packaging-deps
Section: metapackages
Priority: optional
Standards-Version: 4.5.0
Maintainer: Nick Morrott <nickm@debian.org>
Vcs-Browser: https://github.com/knowledgejunkie/knowledgejunkie-packaging-deps
Vcs-Git: https://github.com/knowledgejunkie/knowledgejunkie-packaging-deps.git
Build-Depends: debhelper-compat (= 12)
Rules-Requires-Root: no

Package: knowledgejunkie-packaging-deps
Architecture: all
Depends:
 appstream,
 autoconf,
 autoconf-archive,
 automake,
 build-essential,
 ccache,
 cdbs,
 cmake,
 cme,
 cowbuilder,
 debian-faq,
 debian-handbook,
 debian-history,
 debian-kernel-handbook,
 debian-policy,
 debian-reference-en,
 debmake,
 developers-reference,
 dh-golang,
 dh-linktree,
 dh-make-golang,
 dh-python,
 diffoscope,
 diffstat,
 doc-base,
 doc-debian,
 dos2unix,
 doxygen,
 dput,
 duck,
 equivs,
 faketime,
 git,
 gitg,
 gnupg,
 groff,
 help2man,
 inoticoming,
 libtool,
 maint-guide,
 manpages-dev,
 mercurial,
 meson,
 mkdocs,
 moreutils,
 myrepos,
 packaging-dev,
 pandoc,
 pkg-components,
 pkg-config,
 pkg-perl-autopkgtest,
 pkg-perl-tools,
 pyflakes3,
 python3-all-dev,
 python3-distutils,
 python3-nose,
 python3-pip,
 python3-pytest,
 python3-setuptools,
 python3-sphinx,
 python3-venv,
 python3-virtualenv,
 qttools5-dev,
 qttools5-dev-tools,
 reprepro,
 reprotest,
 sbuild,
 sbuild-debian-developer-setup,
 schroot,
 tree,
 wdiff,
 wkhtmltopdf,
 ${misc:Depends},
Description: metapackage to install Debian packaging tools/docs
 A metapackage to install tools and documentation used for packaging software
 on Debian. Installs language-specific packages (where available) to aid
 building packages for the following Debian teams:
 .
  - Debian Go
  - Debian Perl
  - Debian Python
